@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.AudioPlayerSettings {
	width: 100%;
	height: 4rem;

	&_inner {
		@include fill_container;
		padding: 1rem 1rem;
		@include flex_row(space-between, flex-start, nowrap);

		&_nav {
			width: 3rem;
			height: 3rem;
			border-radius: 50%;
			@include flex_row(center, center);
			border: none;
			outline: none;
			background-color: transparent;
			&:hover {
				cursor: pointer;
			}

			&_icon {
				width: 2.5rem;
				height: 2.5rem;
				fill: #ffffff;
			}
		}
		&_options {
			width: 3rem;
			height: 3rem;
			border-radius: 50%;
			@include flex_row(center, center);
			border: none;
			outline: none;
			background-color: transparent;
			&:hover {
				cursor: pointer;
			}

			&_icon {
				width: 2.5rem;
				height: 2.5rem;
				fill: #ffffff;
			}
		}
	}
}
